<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recorder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-100">

<center>
    <div class="p-8 m-8">
        Khali Hi Hai 
    </div>
</center>

<div class="p-8 m-8 absolute bottom-0 left-0">
    Developed By Aviral Mishra © 2024
</div>
<div>

</body>
</html>
