{% extends "base.html" %}



{%block body%}
<p class="text-[350%] text-center py-[5%]">  Welcome To Transcribe.AI  </p>

<div class="flex flex-row justify-center">

    <div>
        <button class="btn btn-outline-light mx-10">
            <a href="/signIn">Login</a>
          </button>
    </div>

        
    <div>
        <button class="btn btn-outline-light mx-10">
        <a href="/signUp"> SignUp </a>
        </button>
    </div>
    <div class="p-8 m-8 absolute bottom-0 left-0">
        <p class="text-white"> <a href="https://www.linkedin.com/in/aviral-mishra-india/"> Developed By Aviral Mishra © 2024 </a> </p>
     </div>
</div>

{%endblock%}