{%extends "base.html"%}
{%block body%}
<div class="px-8 py-[2%] flex flex-auto justify-center">

    <div class="px-8 py-8 border-2 border-dotted rounded-md border-yellow-500">
        <p class="text-xl font-bold py-6"> Log-In </p>
        <form action="/signIn/" method="POST">
            {%csrf_token%}
        <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username (email id)</label>
                <input name="username" placeholder="User ID" type="email" class="form-control" id="exampleInputID" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input placeholder="Enter Your Password"  type="password" class="form-control" id="pass1" name="pass1">
            </div> 
            <button type="submit" class="btn btn-outline-warning">Submit</button>
        </form> 
       <a href="/signUp/"> <button class="border-2 border-dotted border-indigo-400 rounded-md px-1 hover:bg-indigo-500">Not Registered? Click Here!</button> </a>

    </div>

    <div> </div>
</div>

<div class="p-8 m-8 absolute bottom-0 left-0">
    <p class="text-white"> <a href="https://www.linkedin.com/in/aviral-mishra-india/"> Developed By Aviral Mishra © 2024 </a> </p>
 </div>

{%endblock%}