{% extends "base.html"%}
{%block body%}

<div class="p-8 m-8">
    <center>

        <div class='p-8 m-8'> 
            <p class="text-4xl"> Welcome To Transcribe.AI </p>
        </div>

    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-semibold mb-4">Audio Recorder</h1>
        <button id="startRecording" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 m-2 rounded">
            Start Recording
        </button>
       <a href="/"> <button id="stopRecording" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded ml-2">
            Stop Recording 
        </button> </a>
        <audio id="audioPreview" controls class="mt-4"></audio>
    </div>
</center>
<div class="p-8 m-8 absolute bottom-0 left-0">
    <p class="text-white"> <a href="https://www.linkedin.com/in/aviral-mishra-india/"> Developed By Aviral Mishra © 2024 </a> </p>
 </div>
<div>
    <script>
        let mediaRecorder; // Define mediaRecorder globally

        const startButton = document.getElementById('startRecording');
        const stopButton = document.getElementById('stopRecording');
        const audioPreview = document.getElementById('audioPreview');
        let chunks = [];

        startButton.addEventListener('click', async () => {
            const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
            mediaRecorder = new MediaRecorder(stream); // Assign to global variable

            mediaRecorder.ondataavailable = (event) => {
                if (event.data.size > 0) {
                    chunks.push(event.data);
                }
            };

            mediaRecorder.onstop = () => {
                const audioBlob = new Blob(chunks, { type: 'audio/wav' });
                audioPreview.src = URL.createObjectURL(audioBlob);

                // Send the audioBlob to the Django backend
                const formData = new FormData();
                formData.append('audioRecording', audioBlob);

                fetch('/save-audio/', {
                    method: 'POST',
                    body: formData,
                })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Audio saved on the server:', data.message);
                })
                .catch((error) => {
                    console.error('Error saving audio:', error);
                });
            };

            mediaRecorder.start();
        });

        stopButton.addEventListener('click', () => {
            mediaRecorder.stop();
            stream.getTracks().forEach((track) => track.stop());
        });
    </script>
{%endblock%}
